/* ==== body design ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
